# Python
__pycache__/
*.pyc
*.pyo

# Virtual environment
venv/
env/
gnn_env/
.venv/

# Jupyter
.ipynb_checkpoints/

# Logs
*.log

# Data files (IMPORTANT for you)
data/
datasets/
*.csv
*.json

# Models / checkpoints
models/
*.pt
*.pth
*.ckpt

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
